<% if current_user.role == "owner" %>

<h1><%= current_user.email %>'s Dashboard</h1>
        <div>
            <%= link_to "Add New Restaurant", new_restaurant_path, class: "btn btn-success" %>
        </div>
        <div class="meta">
          <span class="admin">
            <table>
                <%- @restaurants.each do |restaurant| %>
                <tr>
                    <b><%= link_to restaurant.name, restaurant_path(restaurant) %></b>
                </br>
                  <%= link_to "Edit", edit_restaurant_path(restaurant) %>
                </br>    
                    |<%= link_to "Delete", restaurant, method: :delete, data: { confirm: "Are you sure you want to remove this restaurant from the directory?"} %>
                </tr>
              </br>
          </span>
       </div>
                <%- end %>
            </table>
<% end %>

<% if current_user.role == "patron" %>
    <h1><%= current_user.email %>'s Dashboard </h1>
    <div>
        <h2>Favorited Restaurants</h2>
    </div>
    

  <table class="table table-striped">
    <% current_user.favorite_restaurants.each do |restaurant| %>
       </br>
        </br>
          <b><%= restaurant.name %></b>
          <p><%= restaurant.address %></p> 
          <p><%= restaurant.content %></p> 
        <%= link_to "unfavorite", restaurant_favorites_path(restaurant, type: "unfavorite"), method: :put, :remote => true %>
        <% end %>
  </table>

<% end %>