<div class="page-header">
   <h1>Restaurants are cool, you should eat at them.</h1>
</div>
   <div class="restaurant">
    <% if user_signed_in? %>
    <% @restaurants.each do |restaurant| %>
  </br>
</br>
    <b><%= link_to restaurant.name, restaurant_path(restaurant) %></b>
    <p><%= restaurant.address %></p> 
    <p><%= restaurant.content %></p> 
    </div> 
   <% end %>
   <% if !user_signed_in? %>
   <%= link_to 'Sign up', new_user_registration_path %>
   <%= link_to 'Login', new_user_session_path %>
   <% end %>


<% end %>