<div class="page-header">
   <h1>Restaurants are cool, you should eat at them.</h1>
</div>
   
   <div class="restaurant">
    <% if user_signed_in? %>
    <%= link_to "Add New Restaurant", new_restaurant_path, class: "btn btn-success" %>
  </br>
</br>
    <% @restaurants.each do |restaurant| %>
    <b><%= link_to restaurant.name, restaurant_path(restaurant) %></b>
    <p><%= restaurant.address %></p> 
    <p><%= restaurant.content %></p> 
    </div> 
    <div class="meta">
      <span class="admin">
        | <%= link_to "Edit", edit_restaurant_path(restaurant) %> |
        <%= link_to "Delete", restaurant, method: :delete, data: { confirm: "Are you sure you want to remove this restaurant from the directory?"} %>
      </span>
   </div>
   <% if current_user %>
      <%= link_to "favorite",   favorite_restaurant_path(restaurant, type: "favorite"), method: :put %>
      <%= link_to "unfavorite", favorite_restaurant_path(restaurant, type: "unfavorite"), method: :put %>
  <% end %>
   <% end %>
   <% else %>
   <%= link_to 'Sign up', new_user_registration_path %>
   <%= link_to 'Login', new_user_session_path %>


<% end %>