<div class="page-header">
   <h1>Restaurants are cool, you should eat at them.</h1>
</div>

<%= link_to "Add New Restaurant", new_restaurant_path, class: "btn btn-success" %>

<% @restaurants.each do |restaurant| %>
   
   <div class="restaurant">
    <% if owner_signed_in? %>
    <% @restaurants.each do |restaurant| %>
    <b><%= link_to restaurant.name, restaurant_path(restaurant) %></b>
    <p><%= restaurant.address %></p> 
    <p><%= restaurant.content %></p> 
    </div> 
    <div class="meta">
      <span class="admin">
        | <%= link_to "Edit", edit_restaurant_path(restaurant) %> |
        <%= link_to "Delete", restaurant, method: :delete, data: { confirm: "Are you sure you want to remove this restaurant from the directory?"} %>
      </span>
   </div>
   <% end %>
   <% else %>
   <%= link_to 'Sign up', new_owner_registration_path %>
   <%= link_to 'Login', new_owner_session_path %>

<% end %>
<% end %>