<p>
	<strong>Name:</strong>
	<%= @restaurants.name %>
</p>

<p>
	<strong>Description:</strong>
	<%= @restaurants.content %>
</p>

<p>
	<strong>Address:</strong>
	<%= @restaurants.address %>
</p>

<%= render 'reservations/form', :reservation => @reservation %>


<%= link_to 'Back', restaurants_path %>