	</br>
	<strong>Name:</strong>
	<%= @restaurant.name %></br> 
	<strong>Category:</strong>
	<%= @restaurant.categories.map{ |c| c.name }.join(", ") %></br>
	<strong>Description:</strong>
	<%= @restaurant.content %></br>
	<strong>Address:</strong>
	<%= @restaurant.address %></br>

<%= render 'map' %>

<% if signed_in? %>
	<h3>Reservations</h3>
<% end %>
  <ul>
	<%= render(@reservations) || "No reservations" %>
  </ul>
</br>

<%= render 'reservations/form' %>

<%= link_to 'Back', restaurants_path %>