<!DOCTYPE html>
<html>
  <head>
    <title>Reservester</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a href="#" class="brand">Reservester</a>
			<ul class="nav">
				<li><%= link_to "All Restaurants", restaurants_path %></li>
			</ul>
		</div>
	</div>
</div>	

    <%= yield %>
  </body>
</html>
